.col-sm-6{
  padding:10px;
  border: 1px solid #ededed;
}

.pageMovement {
  margin-top:25px;
}

.answer {
  margin-left: auto;
  margin-right: auto;
  display:block;
  width:80%;
  background-color: #C6F3FF;
}

.container {
  border: 1px solid #D8D8D8;
}

.hide {
  display:none;
}

.display {
  display:block;
}

.progress{
  margin-top: 20px;
}

#progressBar {
  background-color: green;
}

#finishQuiz {
  margin-top: 25px;
}
.selAnswer {
  background: #4E9267;
}